.footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    /* Dark background */
    color: #f8f9fa;
}

.footer-content {
    max-width: 600px;
    margin: 0 auto;
}

.footer-links {
    margin-top: 1rem;
}

.footer-link {
    margin: 0 0.5rem;
    color: #f8f9fa;
    text-decoration: none;
    font-size: 1.5rem;
}

.footer-link:hover {
    color: #007bff;
}

.icon {
    margin-right: 0.5rem;
}

.react-icon {
    color: #61dafb;
    font-size: 1.5rem;
}

.developer-name {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: #61dafb;
    border: 1px solid #61dafb;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    background-color: #282c34;
}

.social-note {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
}